.container-valleys  {
    height: calc(100vh - 100px);
    
    h1 {
        font-family: $font-title;
        font-weight: 400;
        font-size: 80px;
    }
    .container-card-valley{
        margin-right: -15px;
    }
    .card-valley {
        height: 180px;
        width: 30%;
        border: 1px solid #669966;
        border-radius: 0;
        &:hover {
            background-color: #669966;
            transition-duration: 0.3s;
            a {
                color: white;
                &:visited {
                    color: white;
                }
            }
        }
        a {
            text-decoration: none;
            color: black;
            &:visited {
                color: black;
            }
        }
    }
}